.gig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.gigContainer {
  display: flex;
  justify-content: center;
  width: 1400px;
  gap: 30px;
}

.gigLeft {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 10px;
}

.gigUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.gigUser span {
  font-family: "gilroySemiBold";
  font-size: 16px;
  font-weight: 500;
}

.gigStars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gigStars img {
  height: 14px;
  width: 14px;
}

.gigStars span {
  font-size: 14px;
  font-weight: bold;
  color: #ffc108;
}

.gigSlider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gigSlider img {
  max-height: 400px;
  object-fit: contain;
  border-radius: 4px;
}

.gigLeft h2 {
  font-weight: 400;
}

.gigLeft p {
  font-weight: 300;
  line-height: 25px;
  color: #555;
  margin: 0;
}

.seller {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gigSellerUser {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gigSellerImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.gigInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.boxItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

hr {
  height: 0;
  border: 0.5px solid lightgray;
  margin-bottom: 20px;
}

.reviews {
  margin-top: 50px;
}
.reviewsItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}
.reviewUser {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reviewUserpp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.country {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
}

.country img {
  width: 20px;
}

.gigRight {
  position: sticky;
  top: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  background-color: white;
  height: 100%;
  padding: 20px;
  width: 35%;
  gap: 20px;
}

.gigPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.gigDetails {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.gigDetails span {
  font-family: "gilroyBold";
}

.gigItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkIcon {
  height: 20px;
}

@media (max-width: 1550px) {
  .gigContainer {
    display: flex;
    flex-direction: column;
  }
  .gigRight {
    margin-top: 30px;
    width: 90%;
  }
  .gigSlider img {
    max-height: 200px;
  }
  .gigLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .gigContainer h1 {
    font-size: x-large;
    margin-bottom: 1px;
  }
  .gig {
    margin: 20px;
  }
}
