.gigCard {
  width: 324px;
  height: 400px;
  border: 1px solid rgb(237, 236, 236);
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 40px;
}

.gigImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starImg {
  height: 14px;
  width: 14px;
}

.star span {
  font-size: 14px;
  font-weight: bold;
  color: #ffc108;
}

.detail {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailImg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  object-fit: cover;
}

.price span {
  color: #999;
  font-size: 12px;
}

.price h2 {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  text-align: end;
}

hr {
  height: 0;
  border: 0.5px solid rgb(228, 228, 228);
}
