.gigCard {
  width: 324px;
  height: 360px;
  border: 1px solid rgb(237, 236, 236);
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 20px;
  border-radius: 10px;
}

.gigImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.cardUser img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.star {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starImg {
  height: 14px;
  width: 14px;
}

.star span {
  font-size: 14px;
  font-weight: bold;
  color: #ffc108;
  margin-left: 5px;
}

.price span {
  color: #999;
  font-size: 12px;
}

.price h2 {
  color: #000000;
  font-size: 15px;
  text-align: end;
}
