.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}

.homeTitle {
  padding: 50px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  width: 600px;
}

.homeDesc {
  text-align: center;
  width: 700px;
}

.clientContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.clientCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

.clientTitle {
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  width: 550px;
}

.clientDesc {
  text-align: left;
  width: 550px;
}

.serviceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.serviceCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1400px;
}

.serviceTitle {
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}

.projectsCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectsItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}
