.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 2px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80dvh;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.homeTitle {
  font-family: "gilroyBold";
  padding: 30px;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  width: 1000px;
  letter-spacing: -3.5px;
  white-space: pre-line;
  line-height: 84px;
}

.homeTitle span {
  color: #e9304b;
  font-family: "gilroyBold";
}

.homeDesc {
  text-align: center;
  width: 900px;
  font-size: 28px;
  letter-spacing: -1px;
  padding: 32px;
}

.heroLeftImg {
  position: absolute;
  left: -60px;
  bottom: 160px;
  width: 400px;
  transition: all ease-in-out 0.4s;
}

.heroRightImg {
  position: absolute;
  right: -60px;
  width: 400px;
  top: 60px;
  transition: all ease-in-out 0.4s;
}

.heroLeftImg:hover {
  width: 408px;
  transition: all ease-in-out 0.4s;
}

.heroRightImg:hover {
  width: 408px;
  transition: all ease-in-out 0.4s;
}

.homeButtons {
  font-family: "gilroySemiBold";
  background-color: #1c1e20;
  color: white;
  padding: 20px 34px;
  border: 2px solid #1c1e20;
  font-size: 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
}

.homeButtons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.homeButtons:hover::after {
  transform: scale(4);
}

.homeButtons:hover {
  border-color: #555555;
  background: #1f1f1f;
}

.SlideContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 84dvh;
  width: 100%;
  height: 100%;

  background: #1c1e20;
  /* background: #895d5d; */
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.18);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.SlideTitle {
  color: white;
  padding-bottom: 30px;
  font-family: "gilroyBold";
  font-size: 60px;
  letter-spacing: -1.6px;
}

.SlideTitle span {
  color: #e9304b;
  font-family: "gilroyBold";
}

.clientContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80dvh;
}

.clientCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

.clientTitle {
  padding-bottom: 30px;
  font-family: "gilroyBold";
  font-size: 60px;
  width: 700px;
  letter-spacing: -3px;
}

.clientDesc {
  font-family: "gilroy";
  text-align: left;
  width: 550px;
  padding-bottom: 10px;
  font-size: 20px;
}
.clientButtons {
  font-family: "gilroySemiBold";
  margin-top: 3%;
  background-color: #1c1e20;
  color: white;
  padding: 15px 30px;
  border: 1px solid #1c1e20;
  font-size: 20px;
  border-radius: 8px;
    transition: all ease-in-out 0.5s;
}

.clientButtons:hover {
  font-family: "gilroySemiBold";
  background-color: #424242;
  border: 1px solid #1c1e20;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.clientImg {
  height: 550px;
}

.Buttons {
  background-color: #1c1e20;
  color: white;
  padding: 10px 20px;
  border: 1px solid #1c1e20;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
}

.Buttons:hover {
  background-color: #424242;
  border: 1px solid #1c1e20;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.Buttons1 {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #1c1e20;
  border-radius: 8px;
  font-size: 15px;
  transition: all ease-in-out 0.5s;
}

.Buttons1:hover {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  color: white;
  background-color: #424242;
  transition: all ease-in-out 0.3s;
}

.devButton {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #1c1e20;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
}

.devButton:hover {
  background-color: #424242;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.featuredTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 35px;
}

.featuredContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 20px;
}

.featureCard {
  width: 252px;
  /* height: 345px; */
  color: white;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
}

.featureCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.featureCardCat {
  text-align: center;
  position: absolute;
  color: #3f3d56;
}

.featureCardName {
  text-align: center;
  position: absolute;
  font-size: 14px;
  color: #1c1e20;
}

.chooseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 88dvh;
}

.chooseCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1400px;
}

.choosetImg {
  height: 350px;
}

.chooseTitle {
  text-align: center;
  padding-bottom: 10px;
  font-family: "gilroyBold";
  font-size: 60px;
  width: 800px;
  letter-spacing: -3px;
}

.chooseTitle span {
  color: #e9304b;
  font-family: "gilroyBold";
}

.chooseDesc {
  font-family: "gilroy";
  text-align: left;
  font-size: 20px;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.points li {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .SlideCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  width: 100%;
  overflow-x: scroll;
} */

.SlideCards {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.SlideCardsInner {
  display: flex;
  animation: scrollX 40s linear infinite;
  gap: 20px;
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1550px) {
  .homeContainer {
    margin-bottom: 30px;
  }

  .homeTitle {
    padding: 30px;
    text-align: center;
    font-size: 90px;
    width: 60%;
    letter-spacing: -2px;
    white-space: pre-line;
  }

  .homeDesc {
    text-align: center;
    width: 60%;
  }

  .homeButtons {
    padding: 15px 25px;
    border: 1px solid #1c1e20;
    border-radius: 8px;
    margin-top: 25px;
  }

  .heroLeftImg {
    width: 300px;
  }

  .heroRightImg {
    width: 300px;
  }

  .heroLeftImg:hover {
    width: 310px;
    transition: all ease-in-out 0.2s;
  }

  .heroRightImg:hover {
    width: 310px;
    transition: all ease-in-out 0.2s;
  }

  .clientCont {
    width: 85%;
  }
}

@media (max-width: 1250px) {
  .homeContainer {
    margin-bottom: 30px;
    min-height: 60dvh;
  }

  .homeTitle {
    padding: 30px;
    text-align: center;
    font-size: 70px;
    width: 80%;
    line-height: normal;
    letter-spacing: -2px;
    white-space: pre-line;
  }

  .homeDesc {
    text-align: center;
    width: 80%;
    font-size: 20px;
  }

  .homeButtons {
    padding: 15px 25px;
    border: 1px solid #1c1e20;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 25px;
  }

  .clientCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .clientCont div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .clientTitle {
    padding-bottom: 30px;
    font-family: "gilroyBold";
    padding-bottom: 10px;
    font-size: 30px;
    width: 95%;
    letter-spacing: -1px;
    text-align: center;
  }

  .clientDesc {
    text-align: center;
    width: 90%;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .clientButtons {
    padding: 10px 20px;
    border: 1px solid #1c1e20;
    font-size: 16px;
  }

  .clientImg {
    height: 250px;
  }

  .Buttons {
    padding: 8px 11px;
  }

  .Buttons1 {
    padding: 8px 11px;
    font-size: 15px;
  }

  .devButton {
    display: none;
  }
  .SlideTitle {
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
    width: 90%;
    letter-spacing: -1px;
  }

  .chooseContainer {
    height: 100vh;
  }

  .chooseTitle {
    font-size: 30px;
    width: 100%;
    letter-spacing: -1px;
  }

  .chooseDesc {
    width: 100%;
    font-size: 14px;
  }

  .choosetImg {
    height: 200px;
  }
  .chooseCont {
    width: 90%;
  }

  .heroLeftImg {
    display: none;
  }

  .heroRightImg {
    display: none;
  }
}

@media (max-width: 750px) {
  .homeContainer {
    margin-bottom: 30px;
  }

  .homeTitle {
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    width: 80%;
    letter-spacing: 1px;
    line-height: 50px;
    white-space: pre-line;
  }

  .homeDesc {
    text-align: center;
    width: 80%;
    font-size: 20px;
    padding-bottom: 20px;
  }
}
