.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login form {
  width: 360px;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login h1 {
  color: black;
  margin-bottom: 20px;
}

.login label {
  color: gray;
  font-size: 18px;
}

.login input,
textarea {
  padding: 20px;
  border: 1px solid rgb(216, 214, 214);
  border-radius: 8px;
}

.login button {
  border: none;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 8px;
  transition: all ease-in-out 0.5s;
}

.login button:hover {
  background-color: #424242;
  transition: all ease-in-out 0.3s;
}

.login span {
  color: red;
  font-size: 12px;
}


@media (max-width: 768px) {

  .login form {
    width: 80%;
    padding: 40px 20px;
  }

  .login h1 {
    font-size: 24px;
  }

  .login label {
    font-size: 18px;
  }

  .login input,
  textarea {
    padding: 15px;
    font-size: 14px;
  }

  .login button {
    padding: 15px;
    font-size: 16px;
  }

}