.messages {
  display: flex;
  justify-content: center;
  color: #555;
}

.messagesContainer {
  width: 1200px;
  padding: 50px 20px;
}

.messagesTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr.active {
  background-color: #4e4e4e0f !important;
}

.markButton {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.messages tr {
  background-color: white;
  height: 80px;
}


.noMessages {
  text-align: center;
  color: #888;
  font-size: 1.08rem;
  padding: 32px 0;
}