.myGigs {
  display: flex;
  justify-content: center;
  color: #555;
}

.myGigsContainer {
  width: 1200px;
  padding: 50px 20px;
  height: 50vh;
}

.myGigsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
}

.image {
  width: 50px;
  height: 25px;
  object-fit: cover;
}

.myGigsContainer td {
  padding-left: 8px;
}

tr {
  height: 50px;
}
th {
  text-align: left;
}
.delete {
  width: 20px;
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #4e4e4e0f;
}

@media (max-width: 900px) {
  .messagesContainer {
    height: auto;
  }
  .myGigsContainer td {
  padding-left: 4px;
}
}