.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: #ebe9e9 1px solid;
}

.link {
  text-decoration: none;
  color: #155263;
}

.container {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.logo {
  font-size: 34px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
span {
  white-space: nowrap;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid #1a1a2e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  font-weight: 300;
  color: #1a1a2e;
}

button {
  color: #155263;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #155263;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #155263;
  transition: all ease 0.4s;
}

hr {
  width: calc(100% - 2px);
  height: 0;
  border-top: 0.5px solid #ebe9e9;
  border-bottom: 0.5px solid #ebe9e9;
}

.menu {
  width: 1400px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: #1a1a2e;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
