.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  text-decoration: none;
  border-bottom: black 1px solid;
}

.link {
  text-decoration: none;
  color: black;
}

.navContainer {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.user img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: contain;
}

.options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.options_link {
  text-decoration: none;
  color: black;
  padding: 7px;
}

.options_link:hover {
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 100%;
  transition: all ease 0.2s;
}

.nav_links {
  text-decoration: none;
  color: black;
}

.nav_links:hover {
  cursor: pointer;
  color: #3f3d56;
  border-bottom: 1px solid #3f3d56;
  transition: all ease-in-out 0.5s;
}
