.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}
.slideContainer {
  width: 1400px;
  position: relative;
}

.carousel-initialized {
  position: static !important;
}

.carousel-prev,
.carousel-next {
  width: 50px !important;
  height: 50px !important;
  background-color: whitesmoke !important;
  border-radius: 50%;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

.carousel-prev {
  left: -25px !important;
}
