.slide {
  padding: 50px 50px;
  /* background-color: #000000; */
  border-radius: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
.slideContainer {
  width: 1400px;
  position: relative;
}

.carousel-initialized {
  position: static !important;
}

.carousel-prev,
.carousel-next {
  width: 50px !important;
  height: 50px !important;
  background-color: #ffffff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 50%;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

.carousel-prev {
  left: -25px !important;
}
.carousel-next:before {
  background-image: url(../assets/right-arrow.png) !important;
}

.carousel-prev:before {
  background-image: url(../assets/left-arrow.png) !important;
}

@media (max-width: 1550px) {
  .slide {
    display: none;
  }
}
