body {
  background-color: rgb(255, 255, 255);
}

*::selection {
  background: #3f3d56;
  color: white;
}

@font-face {
  font-family: poppins;
  src: url(./assets/Poppins/Poppins-Medium.ttf);
}

* {
  font-family: poppins;
}
